$scaleFactor: 3.33;
$toolbarWidth: 60px;

// TODO: Toolbar animation

.toolbar {
  width: 60px;
  height: 100vh;
  background-color: $green-color;

  will-change: width;
  transition: width 0.3s;

  .toolbar-items {
    margin-top: 4rem;

    .toolbar-item {
      font-size: 1.125rem;
      overflow: hidden;
      white-space: nowrap;

      a {
        display: inline-block;
        width: 100%;
        color: $white-color;
        padding: 0.625rem 0;
        padding-left: 1.25rem;
        will-change: width;
        text-decoration: none;

        &.active,
        &:hover {
          background: rgba(0, 0, 0, 0.2);
        }
      }

      .caption {
        display: none;
        margin-left: 1rem;
      }
    }
  }

  &.open {
    width: 240px;
    .toolbar-item {
      .caption {
        display: inline-block;
      }
    }
  }
}

.hamburger-menu-btn {
  cursor: pointer;
  padding: 13.5px;

  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 7px;
    position: relative;

    background: #fff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0% 0%;
  }

  span:nth-last-child(1) {
    transform-origin: 0% 100%;
  }

  &.open span {
    opacity: 1;
    transform: rotate(45deg);
    background: $white-color;
  }

  &.open span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  &.open span:nth-last-child(1) {
    transform: rotate(-45deg);
  }
}
