.btn {
  border-radius: 30px;
  color: $white-color;
  border: none;

  a {
    color: $white-color !important;
    &:hover {
      text-decoration: none;
    }
  }

  background-color: $secondary-color;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
}
