.cards-list {
  max-height: 430px;
  overflow-y: auto;
}

.cards-list {
  a:hover {
    text-decoration: none;
    & > .card {
      background-color: #f9f9f9;
      cursor: pointer;
    }
  }
}

.cards-tree {
  .card-content {
    padding: 0 0 0 1.5rem;
  }

  .cards-list {
    max-height: initial;
  }
}
