/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $text-color;
  background: none;
  box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-group {
  margin: 2rem 0;
}

input[type="text"],
input[type="password"] {
  &.form-control {
    border: none;
    padding: 0.375rem 0;
    border-radius: 0;
    background: none;
    border-bottom: 2px solid rgba(2, 28, 164, 0.3);
    font-size: 1.125rem;
    font-weight: bold;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $text-color;
      opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $text-color;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $text-color;
    }
  }
}

button[type="submit"].btn {
  padding: 0.375rem 2.5rem;
}

label {
  margin-bottom: 0;
}

.login-form {
  padding-top: 5rem;
  .bg-box-white {
    border-bottom-right-radius: 0;
  }
}
