// Inbox Styles

.inbox-wrapper {
  position: absolute;
  width: 20vw;
  min-width: 330px;
  height: 100vh;
  right: 0;
}

.inbox {
  width: 20vw;
  min-width: 330px;
  height: 100vh;
  background: rgb(255, 255, 255);
  z-index: 999;
  position: absolute;
  -webkit-box-shadow: 10px 0px 13px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 10px 0px 13px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 10px 0px 13px 0px rgba(0, 0, 0, 0.15);
  padding: 3rem 2rem;
  top: 0;
  right: 0;
  transform: translateX(0);

  .inbox-heading {
    .inbox-close {
      position: absolute;
      top: 0.75rem;
      right: 2.25rem;
      font-size: 1.75rem;
      cursor: pointer;
      color: #cdcbcb;
      transition: 0.3s;
      &:hover {
        color: #363636;
      }
    }
  }

  .inbox-item {
    padding: 1rem 2rem;
    background: #f5f5f5;
    border-radius: 10px;
    margin: 1rem 0;

    .title {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }
}

// Inbox animations CSSTransition

.inbox-enter {
  opacity: 0;
  transform: translateX(100%);
}
.inbox-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 400ms;
}
.inbox-exit {
  opacity: 1;
  transform: translateX(0);
}
.inbox-exit-active {
  opacity: 0;
  transition: all 400ms;
  transform: translateX(100%);
}
