.panel {
    .panel-items-block {
        height: 30rem;
        overflow-y: scroll;
    
        &::-webkit-scrollbar-track {
            border-radius: 0 20px 20px 0;
            background-color: $white-color;
        }
    
        &::-webkit-scrollbar {
            width: 8px;
            background-color: $light-grey;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $mid-grey;
        }

        a.panel-block.active, label.panel-block.active {
            background-color: $darker-white;
        }
    }
}