.arrow {
    border: solid;
  
    border-color: $secondary-color;
  
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 0.4rem;
  
    &.right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  
    &.left {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
    }
  
    &.up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  
    &.down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 100%;
      padding: 0 10.5rem 0 16rem;
    }
  }