// TopMenu styles

$top-menu-height: 60px;

nav.top-menu {
  padding: 0 2rem;
  @include themify($themes) {
    background: themed("topMenuBg");
  } 

  .navbar-brand img {
    max-height: 3rem;
  }

  .notification-bell-wrapper {
    min-width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .notification-bell {
      width: 2.75rem;
      height: 2.75rem;
      @include themify($themes) {
        color: themed("mainColor");
      }

      font-size: 1rem;
      position: relative;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        svg {
          fill: #333;
        }
      }

      &.news::after {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        width: 10.5px;
        height: 10.5px;
        padding: 0 0.25rem;
        border-radius: 60px;
        background: #05b446;
        content: "";
        font-size: 0.5rem;
      }
      &.news.warning::after {
        background: #b40505;
        content: "!";
      }
    }
  }
}

.user-menu-item {
  height: 100%;

  &, .dropdown, .dropdown-button {
    height: 100%;
  }

  .dropdown-button {
    padding: 0 1.5rem;

    background: #fff;
    position: relative;
    z-index: 1002;

    @include themify($themes) {
      background-color: themed("bgColor");
    }
  }

  .dropdown-button,
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-column {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
  }

  .profile-picture {
    float: left;
    flex: 1;
  }

  .user-name,
  .user-role {
    margin-left: 1rem;
  }

  .user-name {
    font-size: 1.125rem;
  }

  .user-role {
    opacity: 0.4;
    font-size: 1rem;
  }

  .arrow {
    margin-left: 1.75rem;

    &.down {
      margin-top: -5px;
    }
    &.up {
      margin-bottom: -15px;
    }
  }

  .dropdown-menu {
    border-radius: 0 0 0.75rem 0.75rem;
    border: 0;
    width: 100%;
    margin-top: -1px;

    &.show {
      box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.05);
    }

    .dropdown-item {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
    }
  }
}
