@charset 'UTF-8';

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/functions", "abstracts/mixins";

// 2. Vendors
@import "vendors/normalize", "vendors/bulma";

// 3. Base stuff
@import "base/base", "base/fonts", "base/typography", "base/helpers";

// 4. Layout-related sections
@import "layout/header", "layout/footer", "layout/toolbar";

// 5. Components
@import "components/buttons", "components/forms", "components/inbox",
  "components/notifications", "components/utils", "components/panel",
  "components/box", "components/pagination", "components/selectable-timeline",
  "components/visualizer", "components/pages";

// 6. Page-specific styles
@import "pages/home", "pages/profile", "pages/experiment-detail";

// 7. Themes
@import "themes/default";
