$themes: (
  default: (
    topMenuBg: #fff,
    topMenuLinksColor: #408bbd,
    topMenuLinksHoverColor: #61b0e7,
    topMenuLinksHoverBg: #f1f7f7,
    backgroundColor: #fff,
    textColor: #444,
    bgColor: #f5faff,
    secondaryColor: #3393ff,
    mainColor: #021ca4
  )
);
